.apps__wrapper {
  margin: 0 auto;
  width: 280px;
  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.apps {
  background-color: #1D2631;
  margin-top: 24px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-top: 51px;
    background-color: transparent;
    padding-bottom: 0;
  }
}

.apps__description {
  font-family: "OpenSans-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @white;
  text-decoration: none;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 0;
    margin-top: 30px;
  }
}

.apps__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-right: 35px;
  @media (min-width: @tablet-width) {
    justify-content: space-around;
    margin-left: -8px;
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
  }
}

.apps__button {
  font-family: "OpenSans-Bold", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 28px;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @white;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-top: 10px;
    margin-bottom: 45px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 83px;
    margin-bottom: 72px;
    font-size: 21px;
    line-height: 18px;
  }
}

.apps__button {
  &:hover {
    background-color: @white;
    color: @pink;
    transition: 0.3s;
  }

  &:active {
    color: rgba(@pink, 0.3);
  }
}
