.effect {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse
  }
}

.effect__title {
  font-family: "OpenSans-Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.effect__description {
  font-family: "OpenSans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.effect__link {
  font-family: "OpenSans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: @pink;
}

.effect__wrapper {
  width: 310px;
}
