.effect {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey;
  }
}

.effect__content-wrapper {
  margin: 0 auto;
  padding: 50px 20px 65px;
  width: 280px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.effect__link {
  color: @pink;
}

.effect__image {
  position: relative;
  width: 238px;

  @media (min-width: @desktop-width) {
    width: 298px;
  }
}

.effect__image-timer,
.effect__image-diagram {
  position: absolute;
}

.effect__image-text {
  font-family: "OpenSans-Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  color: @pink;

  @media (min-width: @desktop-width) {
    font-size: 120px;
    line-height: 163px;
  }
}


.effect__description {
  margin-top: 15px;
  width: 300px;

  @media (min-width: @desktop-width) {
    margin-top: 65px;
    width: 573px;
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__title {
  margin-top: 23px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: @black;

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
  }
}

.effect__text {
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: @desktop-width) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

