.info {
  text-align: center;

}

.info__question,
.info__answer {
  font-family: "OpenSans-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.info__list {
  background-color: @grey;
  list-style: none;
}

.info__title {
  font-family: "OpenSans-Bold", Verdana, Geneva, Tahoma, sans-serif;;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.info__description {
  font-family: "OpenSans", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
