.intro {
  text-align: center;
  align-items: center;
  width: 280px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 110px;
  background-size: image-size("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: max-content auto;
    width: @tablet-width;

  }
  @media (min-width: @desktop-width) {
    width: @desktop-width;

  }
}

.intro__title {
  font-family: "OpenSans-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @white;
  margin: 0 auto;
  width: 280px;


  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;

  }

}

.intro__apps {
  min-height: 213px;

  padding-top: 28px;
}

.intro__img {
  display: flex;
}


