.intro {
  text-align: center;
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    display: grid;
    width: 660px;
    grid-template-columns: auto auto;
  }
  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.intro__title {
  font-family: "OpenSans-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: @white;
  width: 280px;
  margin: 0 auto;
  margin-top: 29px;
  margin-bottom: 30px;


  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }
  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__title br {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
  }
}
.intro__img {
  margin-bottom: -7px;
  @media (min-width: @tablet-width) {
    max-width: unset;
    margin-left: -350px;
  }
}

