.intro {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
}


.intro__title {
  font-family: "OpenSans-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @white;
}


.page__body_photo .intro__title,
.page__body_form .intro__title {
  line-height: 33px;
}
