.map {
  position: relative;
  overflow: hidden;
  height: 220px;
  margin-top: -20px;
  margin-bottom: 5px;
  @media (min-width: @tablet-width) {
    height: 385px;
    margin-bottom: 5px;
  }
  @media (min-width: @desktop-width) {
    height: 501px;
    margin-top: -10px;
    margin-bottom: 42px;
  }
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 55px solid #ffffff;
    border-top-width: 60px;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    z-index: 10;
    @media (min-width: @tablet-width) {
      border-top-width: 72px;
    }
    @media (min-width: @desktop-width) {
      border-top-width: 80px;
    }
  }
}

.map__image {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  @media (min-width: @tablet-width) {
    top: -98%;
    width: 660px;
  }
  @media (min-width: @desktop-width) {
    top: -55.8%;
    width: 1200px;
  }
}

.map__marker {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -45%);
  width: 35px;
  height: 35px;
  background-image: url("../img/icon-map-marker.svg");
  background-size: 35px 35px;
  background-repeat: no-repeat;
}
