.page-footer {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__developed-title {
  font-family: "OpenSans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
