.photo {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  &--full {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: auto;
    max-width: 320px;

    @media (min-width: @tablet-width) {
      width: auto;
      max-width: 700px;
    }

    @media (min-width: @desktop-width) {
      max-width: 1200px;
    }
  }
}

.photo__post {
  width: 280px;
  height: 180px;
  color: @white;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;
  }

  &--full {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 137px;

    @media (min-width: @tablet-width) {
      width: 700px;
      height: 509px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      height: 506px;
    }

    &::before {
      content: "Панорама дня";
      position: absolute;
      z-index: 10;
      top: 0;
      right: 20px;
      padding: 6px 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      background-color: @pink;

      @media (min-width: @tablet-width) {
        top: 56px;
        right: 40px;
      }

      @media (min-width: @desktop-width) {
        top: 54px;
        right: 130px;
      }
    }
  }
}


.photo__comment {
  display: flex;
  flex-direction: column;
  padding: 20px 0 17px 16px;
  background-color: @grey;


  @media (min-width: @tablet-width) {
    padding: 23px 32px 24px 27px;
  }

  &--full {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 280px;
    box-sizing: border-box;

    @media (min-width: @tablet-width) {
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 30px 20px 30px;
      width: 620px;
    }

    @media (min-width: @desktop-width) {
      width: 940px;
    }
  }
}


.photo__author-name {
  font-weight: 700;
}

.photo__date,
.photo__like-count {
  font-size: 12px;
  text-transform: uppercase;
}

.photo__date {
  margin-left: 5px;
  font-weight: 300;
}

.photo__text {
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin-bottom: 12px;
    min-height: 48px;
  }
}

.photo__like-count {
  margin-left: 20px;
  color: @pink;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    margin-right: 10px;
  }
}

.photo__like-button svg {
  fill: #D22856;
}

.photo__like-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.photo__author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo__likes {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.photo__wrapper {
  margin: 0 auto;
  width: 280px;
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}
