.photo {
  text-align: center;
  line-height: 24px;


  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }

}

.photo__panorama {
  width: 140px;
  height: 36px;

  background-color: @pink;
  color: @white;

  font-family: "OpenSans-Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;

  text-transform: uppercase;

}

.photo__slogan {
  line-height: 30px;

  display: grid;
  grid-template-columns: auto auto;
}


.photo__user--wrapper,
.photo__user--panorama {
  margin: auto;
  width: 246px;
  padding-left: 17px;
  padding-right: 17px;
}


.photo__user--panorama {
  @media (min-width: @tablet-width) {
    width: 580px;
    padding-left: 30px;
    padding-right: 30px;

    display: grid;
    grid-template-columns: auto auto;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.photo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: auto;
  }
  @media (min-width: @desktop-width) {
    width: 980px;
  }
}

.photo__user--wrapper {
  @media (min-width: @tablet-width) {
    height: 155px;
  }
}


