.photo-post__author {
  font-family: "OpenSans-Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

}

.photo-post__time {
  font-family: "OpenSans-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-post__comment {
  font-family: "OpenSans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.photo-post__like {
  font-size: 12px;
  text-transform: uppercase;
  color: #D22856;
}
