.reviews {
  text-align: center;
}

.reviews__author {
  font-family: "OpenSans-Bold", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.reviews__feedback {
  font-family: "OpenSans", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.reviews__list {
  list-style: none;
}
