.social__list {
  list-style: none;

  display: flex;
  flex-direction: row;
}

.social__item {
  width: 48px;
  height: 48px;
  opacity: 0.1;
  border: 3px solid #283645;
  border-radius: 50px;


}

